{{#each exclusivo}}
    <div class="panel {{clase}}">
        <div class="panel__header">
            <button class="panel__button">
                <svg class="panel__icon" height="13" width="21">
                    <use xlink:href="#arrow" />
                </svg>
                <span>{{title}}</span>
            </button>
            <span>{{opcional}}</span>
        </div>
        <div class="panel__item">
            {{#each secciones}}
                <div class="panel__article">
                    <div class="panel__image">
                        <img src="assets/img/{{imagen}}.jpg" alt="{{imagen}}">
                    </div>
                    <h2 class="panel__article-title">{{title}}</h2>
                    {{#each textos}}
                        <p>{{this}}</p>
                    {{/each}}
                    <button class="panel__info-button">
                        <span>Más información y condiciones</span>
                    </button>
                    <div class="panel__info collapsed">
                        {{#each extras}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}